body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

#timer {
  font-weight: bold;
  color: red;
  margin-bottom: 15px;
}

.soal {
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  opacity: 0.5;
  background-color: red;
}
